.hjfj4-552tr-fdd88 {
	color: Blue;  
	font-size: 35px;  
	font-family: Arial, sans-serfif;  
	text-decoration: underline;  
	text-transform: none;
}

.kbkjd-255zo-5gzuh {
	color: #000000;  
	font-size: 17px;  
	font-family: Arial, sans-serfif;  
	text-decoration: none;  
	text-transform: none;  
	font-weight: 500;
}