<--Datei-->

.gfdj5-lk587-pöü54 {
	font-size: 25px;
	color: blue;
	color; blue;
}

.rtr98-dfjhk-272rr {
	font-size: 30px;
	font-weight: 600;
	color: #5bff00;
	text-decoration: underline;
	text-transform: none;
}
   
.bvv45-fg465-trg74 {
	font-family: monospace;
	color: #5bff00;
	text-transform: none;
}

.jtjr5-jdkl5-ordsg {
	text-transform: none;
	font-family: Arial, sans-serif;
	font-size: 14px;
}
   
.ink89-890kk-23wer {
	font-size: 14px;
	color: red;
	font-family: Arial, sans-serif;
}

.oki98-342we-657ui {
	padding-bottom: none
}

.oh236-oar87-qwe35 {
	border: solid 5px;
	color: black;
	background-color: grey;
}

#zs257-rrt12-2721t {
	font-size: 10px;
	color: black;
	text-decoration: underline;
}

.ghfsf-54455-tur75 {
	font-size: 15px;
	color: black;
	text-decoration: underline;
	text-transform: none;
}

#zte235-zte456-0987112 {
	background-image: url("https://tinyurl.com/mofopic2305");
}